// file : rk3288-miniarm.dts

laser {
	compatible = "laser-pinctrl";
	label = "laser-pinctrl";

	pinctrl-name = "default";
	pinctrl-0 = <&laser_pin>;
	status = "okay";
};
&pinctrl {

	laser {
		laser_pin: laser_pin {
			rockchip,pins = <RK_GPIO5 RK_PC3 RK_FUNC_GPIO, &pcfg_pull_up>;
		};
	};

        ......
    }
