# gitignore
# Untracked files:
.*
*.a
*.i
*.o
*.o.*
*.s
*.db 
*.gz
*.ko
*.ll
*.so
*.su
*.xz
*.bin
*.bz2
*.dwo
*.elf
*.lst
*.lz4
*.lzo
*.mod.c
*.tar
*.gcno
*.lzma
*.order
*.so.dbg
*.patch
*.symtypes
modules.builtin
Module.symvers
# clion , vscode ignore
.vscode
.idea
cmake-build-debug
.*.s*p
*.o.cmd
*.mode.o.cmd
*.mode.c 
*.mode.o
*.order
*.symvers
.*.ko.cmd