/*-------------------- way 1: of get gpio start ------------------------*/
// 0.91 inch oled 128x64
&i2c1 {
    oled: ss1306@7b {
        compatible = "oled, ssd1306";
        freq = <200000>;
        ret = <0x7b>;
        width = <128>;
        height = <64>;
        oled-rst = <&gpio0 RK_PC1 GPIO_ACTIVE_HIGH &pcfg_pull_up>;  // GPIO0C1
        page-offset = <0>;
        status = "ok";
    };
};
/*-------------------- way 1: of get gpio end ------------------------*/


/*-------------------- way 2: pinctrl start ------------------------*/
// 2 --------------- pinctrl way -----------
// 0.91 inch oled 128x64

oled {
        compatible = "oled-pins";
        label = "oled-rst-pins";
        pinctrl-name = "default",
                        "oled_rst_set_high",
                        "oled_rst_set_low";
        // GPIO0C1
        pinctrl-0 = <&default>;
        pinctrl-1 = <&oled_rst_high>;
        pinctrl-2 = <&oled_rst_low>;
        status = "okay";
}

&i2c1 {
    oled: ss1306@7b {
        compatible = "oled, ssd1306";
        freq = <200000>;
        ret = <0x7b>;
        width = <128>;
        height = <64>;
        page-offset = <0>;
        
        status = "okay";
    };
};
// GPIO0C1
&pinctrl {
    default: default {
        /* not set */
    };
    oled_rst_high: oled-rst-high {
        pins = <0 RK_PC1 GPIO_ACTIVE_HIGH>;
        slew-rate = <1>;
        output-high;
    };
    oled_rst_low: oled-rst-low {
        pins = <0 RK_PC1 GPIO_ACTIVE_LOW>;
        slew-rate = <1>;
        output-low;
    };
}
/*-------------------- way 2: pinctrl end ------------------------*/